.nav__menu {
    background-color: var(--first-color);
    position: fixed;
    inset-block: 0;
    left:  -100%;
    background-color: var(--container-color);
    width: 100%;
    padding: 60px 30px;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); 
    
}

.show-menu {
    left: 0;
}

.nav__link {
    display: flex;
    align-items: center ;
    column-gap: 24px;
    border-bottom: 1px solid var(--border-color);
    padding-block: 14px ;

}

.nav__icon,.nav__name { 
    color: var(--title-color);
    font-size: v24px;
}

.nav__name {
    font-weight: var(--weight-500);
}

.active-nav .nav__icon,
.active-nav .nav__name {
    color: var(--first-color);

}

.nav__toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: var(--container-color);
    border-radius: 5px;
    padding: 12px 10px;
}

.nav__toggle span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--title-color);
    margin-bottom: 5px;
}