@media screen and (max-width : 1400px) {
    .container {
        max-width: calc(100% - 18  0px);
    }
}

@media screen and (max-width: 1200px) {
    .grid {
        gap: 20px;
    }

    .home__data {
        padding-right: 40px;
    }

    .home__title {
        font-size: var(--big-font-size);
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    .stats__title {
        padding-left: 35px;
    }

    .stats__title::before {
        width: 22px;
    }

    .skills__container {
        row-gap: 32px;
    }

    .progress__circle {
        width: 100px;
        height: 100px;

    }

    .skills__title {
        margin-top: 20px;
    }

    .resume__icon {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    .resume__item 
    {
        padding-left: 55px;
    }

    .portfolio__modal-content {
        max-width: 600px;
    }

    .modal__close {
        width: 40px;
        height: 40px;
    }

    .form__input-group {
        grid-template-columns: repeat(2,1fr);
        column-gap: 24px;
    }

    .form__input-group .form__input-div:last-child {
        grid-column: 1/-1;
    }

    .form__input-div {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1024px) {
    
}